.container {
  display: flex;
  gap: 5px;
  background-color: var(--color-primary-white);
  padding: clamp(3px, 1vw, 10px);
  border-radius: 5px;
}

.input {
  min-width: 40vw;
  font-size: clamp(12px, 1.5vw, 16px);
}