.wrapper {
  position: relative;
}

.container {
  display: flex;
  gap: 5px;
  background-color: var(--color-primary-white);
  padding: 5px;
  border-radius: 5px;
}

.list {
  position: absolute;
  top: 30px;
  background-color: var(--color-primary-white);
  z-index: 3;
  color: black;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.input {
  font-size: 16px;
  cursor: pointer;
}

.li {
  cursor: pointer;
}
