body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --colot-primary-grey: #474a51;
  --color-primary-white: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  border: none;
  background-color: inherit;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  color: inherit;
  font-family: inherit;
}

figure {
  margin: 0;
}
